---
import "@css/main-style.css"; // Estilos globales o Protons y Variables Globales

import HeaderMenu from "@components/prouns/HeaderMenu.astro";
import Line from "@components/atoms/Line.astro";

import { ViewTransitions } from "astro:transitions";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="author" content="Pablo León Toro" />
		<meta name="description" content="Depamar Propiedades" />
		<!-- para el ceo -->
		<meta name="keywords" content="propiedades, venta, arriendo" />
		<ViewTransitions />
	</head>
	<body>
		<HeaderMenu title="Depamar Propiedades"/>
		<main>
			<slot>
				<section class="slot-defecto">
					<Line />
					<h1>Depamar Propiedades</h1>
					<Line />
				</section>
			</slot>
		</main>
	</body>
</html>

<style is:global>
	:root {
		--header-max-h: 5rem; /* altura max del header y la navegación. */
		--maximus-app: 2048px; /* valor máximo del ancho total de la web */
		--maximus-contenido: 1480px; /* valor máximo del ancho total del contenido */
		--max-med-contenido: 92lvw; /* valor máximo hasta donde llega el contenido por debajo del maximus-contenido*/
	}

	/* ------------------- main: slot general de todas las pages ------------------- */
	
	main {
		width: var(--max-med-contenido);
		max-width: var(--maximus-contenido);
		margin: var(--header-max-h) auto 0 auto;
		min-height: calc(100dvh - var(--header-max-h));

		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0px;
	}

	/* ------------------- Por defecto cuando no entra contenido al <slot> ------------------- */

	section.slot-defecto {
		text-align: center;
	}
</style>
