---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
---

<Layout title="+code / 404 not found">

    <Line/>
    <section>
        <h4>Este contenido no existe o desapareció o aun no aparece.</h4>
        <a href="/">Ir al inicio.</a>
    </section>
    <Line/>
</Layout>

<style>
    section {
        text-align: center;
    }
</style>