---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
---

<Layout title="depamar / 404 not found">

    <Line/>
    <section>
        <h4>Contenido Inexistente</h4>
        <a href="/">Volver al inicio</a>
    </section>
    <Line/>
</Layout>

<style>
    section {
        text-align: center;
    }
</style>