---
import Layout from "../assets/ui/layouts/Layout.astro";
import Line from "../assets/ui/atoms/Line.astro";
import BtnANav from "../assets/ui/atoms/BtnANav.astro";
---

<Layout title="depamar / 404 not found">

    <Line/>
    <div class="container">
        <h2>Contenido Inexistente</h4>
        <BtnANav href="/" body="Volver al inicio" />
    </div>
    
    <Line/>
    
</Layout>

<style>
    div.container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
</style>
