---
import Layout from "../ui/layouts/MainLayout.astro";
import Line from "../ui/components/atoms/Line.astro";
---

<Layout title="Depamar / Contacto">
    <Line />
    <h2>Contacto</h2>
    
    <h4>Persona1:</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, laboriosam obcaecati dolore tempore error sapiente cumque?</p>

    <h4>Persona2:</h4>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus, laboriosam obcaecati dolore tempore error sapiente cumque?</p>
    
    <Line />
</Layout>
