---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
import ShowCard from "../components/ShowCard.astro";
---

<Layout title="+code / gallery ">
    <h2>Probando Css view()</h2>
    <Line />

    <ShowCard>
        <h2>|  |  |  |  |</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque modi sapiente mollitia magnam.</p>
    </ShowCard>

    <Line/>
    <h4>___ final ___</h4>
</Layout>

<style>
    h4.sub-showcard{
        color: rgb(56, 0, 169);
    }

</style>
