---
import Layout from "../layouts/Layout.astro";
import Line from "../components/Line.astro";
---

<Layout title="Depamar Propiedades">
	<Line/>

	<h2>Depamar Propiedades</h2>
	<p>Arriendos y Ventas de Propiedades.</p>

	<Line/>
</Layout>
