---
import BtnANav from "@components/atoms/BtnANav.astro"

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<header>
    <div class="sub-container-header">
        <div class="title-container">
            <img class="depamar-logo" src="/favicon.svg" alt="Depamar Propiedades" />
            <h1 class="titulo-principal">{title}</h1>
        </div>
        <nav class="menu-principal">
            <BtnANav href="/" body="Propiedades"/>
            <BtnANav href="/publica" body="Publica tu Propiedad"/>
            <BtnANav href="/contacto" body="Contacto"/>
        </nav>
    </div>
</header>

<style>
    header {
        cursor: default;
        user-select: none;

        width: 100%;
        height: var(--header-max-h);
        top: 0px;

        background-color: var(--color-wb-5-80);
        color: var(--color-wb-0);

        z-index: 2;
        overflow: hidden;
        position: fixed;

        display: flex;
        align-items: center;

        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.01);
        backdrop-filter: blur(3px);


        animation: anim-header linear both;
        animation-timeline: scroll(root block);
        animation-range: 0px 5rem;
    }

    @keyframes anim-header {
        to {
            box-shadow: 0px 2px 2px var(--color-wb-0-16);
        }
    }

    div.sub-container-header {
        height: 100%;
        width: var(--max-med-contenido);
        max-width: var(--maximus-contenido);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    div.title-container {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img.depamar-logo {
        min-width: 2rem;
        width: calc(2rem + 1lvw);
        object-fit: contain;
        object-position: center;
        margin-right: calc(0.6rem + 0.8lvw);
    }

    .titulo-principal {
        font-size: calc(1rem + 0.6vw);
        margin-top: 2.4rem;
    }

    nav {
        display: flex;
        justify-content: space-between;
        gap: calc(0.5rem + 0.5lvw);
    }

</style>


